/* nav bar*/
body{
    font-family: 'Oxygen', sans-serif;
    /*background-color: rgb(59,173,252);*/
    background-color: rgb(0,180,216) ;
}

.pretty {
    color: rgb(29, 116, 230);
}

  .eb{
    margin-right: auto;
    font-size: 1.8rem;
}  
.spacer{
    width :60%;
    height:0px;
}
.nav{
    display: flex;
   list-style: none;
    padding: none;
    flex-direction: row;
    justify-content:space-evenly;
    width:100%;
    border-radius: 30px;
    background-color: rgb(204,204,255);

}

.navSLUpIn{
        display: flex;
        border: 2px solid rgb(29, 141, 233) ;
        align-self: flex-end;
        margin-left: auto;
        padding: 5px;
        border-radius: 15px;
        background-color: gray;
        color:white;
}

.title{
    text-align: center;
    font-size: 2.8rem ;
    color: purple;
    font-family: 'Unbounded', sans-serif;
}

.firstImage{
    position: relative;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.imgBorder{
    border: 5px; 
    border-style: dashed;
    color: purple;
}

.iconLines{
    position: absolute;
    width: 13%;
    top: 5%;
    right:.5%;
   margin: 5px;
}

.firstLine{
    text-align: center;
    font-family: 'Oxyen'; 
    margin: 50px;
    font-size: 1.8rem;
    border: 3px solid rgb(116, 46, 182);
    border-width: thick;
    border-radius: 100px;
    width:auto;
   margin-right: 400px;
   margin-left: 400px;
   background-color: rgb(198, 161, 207);
}

