/* nav bar*/
body{
    background-color: rgb(204,204,255);
}
.pretty {
    color: red;
}

  .eb{
    margin-right: auto;
}  
.spacer{
    width :75%;
    height:0px;
}
.nav{
    display: flex;
   list-style: none;
    padding: none;
    flex-direction: row;
    justify-content: space-around;
    width:95%;
    gap: 5%;

}

.navSLUpIn{
        display: flex;
        border: 1px solid red ;
        align-self: flex-end;
        margin-left: auto;
}
